body {
    background-color: aqua;
    background-repeat: initial;
}


.col-btn {
    width: 50%;
    display: contents;
    padding: 1rem;
     margin: 2rem;  
    
} 

.row-btn {
    /* border: 1px solid #A32c45;  */
    width:80%; 
    margin: 15px; 
    padding: 0;
}

